.header {
  text-align: center;
  margin-bottom: 3rem;
}
img {
  max-width: 100%;
}

h1 {
  font-size: 60px;
}

.header h3 {
  font-size: 45px;
}
.animal{
  width: 31%;
  margin-bottom: 40px;
  margin-right: 3%;
  float: left;
  background: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}
h1,
h2,
h3 {
  font-family: 'Patrick Hand', cursive;
}
p {
  font-family: sans-serif;
  line-height: 1.25;
}
.animal h3 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.animal p,
.animal h3,
.animal h4 {
  padding: 0px 15px;
  margin: 20px 5px;
}
.animal:nth-of-type(3),
.animal:nth-of-type(6) {
  margin-right: 0;
}
.adoptable {
  margin: 0 auto;
  max-width: 1200px;
}
body {
background-image: url(../img/spring.png);
}

.header img {
  width:100%;
}
