.header {
  text-align: center;
  margin-bottom: 3rem;
}
img {
  max-width: 100%;
}
.animal{
  width: 31%;
  margin-right: 1%;
  float: left;
}
.animal:nth-of-type(3),
.animal:nth-of-type(6) {
  margin-right: 0;
}
.adoptable {
  margin: 0 auto;
  max-width: 1200px;
}
body {
background-image: url(../img/spring.png);
}

.header img {
  width:100%;
}
